.card-container {
  border: 1px solid grey;
  height: 300px;
  width: 200px;
  background-color: white;
  color: black;
}
.card-profile {
  font-size: 8px;
}
.card-image {
  height: 200px;
  width: 200px;
}
.card-image img {
  height: 200px;
  width: 200px;
}
.card-desc {
  margin: auto 8px;
  width: 200px;
  word-wrap: break-word;
}
.card-profile {
  margin-left: 8px;
  width: 200px;
  word-wrap: break-word;
}
